.mapboxgl-marker {
  /* background-image: url("mapbox-icon.png");
  background-size: cover; */
  /* width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  cursor: pointer; */
}
/* svg  */
/* costum style for markers pop-up */
.mapboxgl-popup {
  /* color: red !important; */
}

.mapboxgl-popup button {
  outline: none;
  margin-right: 10px;
  /* color: red !important; */
}
